Order Deny,Allow
Allow from all

RewriteEngine On
RewriteRule ^json_copies.*$ - [F]
RewriteRule ^sess.*$ - [F]
RewriteRule ^[^\-]+-Data.*$ - [F]

<Files metadata.csv>
    Deny from all
</Files>

<Files .htaccess>
    Deny from all
</Files>
